@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bottom-nav-height: 4rem;
  }

  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }
}
